<!doctype html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} | InfinitySky</title>

    {# Favicons #}
    <link href="{{ getAssetsUrl() }}/images/icons/favicon.png" rel="icon" type="image/png" sizes="16x16">

    <link href="{{ getAssetsUrl() }}/images/icons/icon_32.png" rel="icon" type="image/png" sizes="32x32">
    <link href="{{ getAssetsUrl() }}/images/icons/icon_48.png" rel="icon" type="image/png" sizes="48x48">

    <link href="{{ getAssetsUrl() }}/images/icons/icon_180.png" rel="apple-touch-icon">
    <link href="{{ getAssetsUrl() }}/images/icons/icon_76.png" rel="apple-touch-icon" sizes="76x76">
    <link href="{{ getAssetsUrl() }}/images/icons/icon_120.png" rel="apple-touch-icon" sizes="120x120">
    <link href="{{ getAssetsUrl() }}/images/icons/icon_152.png" rel="apple-touch-icon" sizes="152x152">

    <link href="{{ getAssetsUrl() }}/images/icons/icon_192.png" rel="icon" sizes="192x192">
    <link href="{{ getAssetsUrl() }}/images/icons/icon_128.png" rel="icon" sizes="128x128">

    <link rel="stylesheet" href="{{ getAssetsUrl() }}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ getAssetsUrl() }}/css/style.css">
    {% block css %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ getBaseUrl() }}">
            <img src="{{ getAssetsUrl() }}/images/icons/icon_128.png" alt="InfinitySky Logo"
                 class="rounded me-3" style="max-height: 2rem; width: auto" />
            InfinitySky</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% include "_base/nav.twig" %}
        </div>
    </div>
</nav>

{% block content %}{% endblock %}

<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="{{ getBaseUrl() }}" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                <img src="{{ getAssetsUrl() }}/images/icons/icon_128.png" alt="InfinitySky Logo"
                     class="rounded me-3" style="max-height: 2rem; width: auto" />
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary">
                <a href="https://neoground.com/projects/infinitysky" target="_blank" rel="noopener" class="text-muted">InfinitySky</a>
                v{{ getVersion() }} &bull; PHP {{ getPhpVersion() }}</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-body-secondary" href="https://neoground.com/docs/infinitysky/index"
                                target="_blank" rel="noopener">Docs</a></li>
            <li class="ms-3"><a class="text-body-secondary" href="https://github.com/neoground/InfinitySky"
                                target="_blank" rel="noopener">GitHub</a></li>
        </ul>
    </footer>
</div>

{# Image Modal #}
<div class="modal fade" id="imageModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <img id="modalImage" src="" class="img-fluid" alt="Image">
            </div>
        </div>
    </div>
</div>

<script src="{{ getAssetsUrl() }}/js/bootstrap.bundle.min.js"></script>
<script src="{{ getAssetsUrl() }}/js/main.js"></script>
{% block js %}{% endblock %}
</body>
</html>
