{% extends "_base/site.twig" %}

{% block css %}
    <style>
        #hero {
            background: url('{{ getAssetsUrl() }}/images/hero_bg_blur.jpg') center center no-repeat;
            background-size: cover;
        }
    </style>
{% endblock %}

{% block content %}
    <section id="hero" class="mb-5">
        <div class="container">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6 text-center">
                    <a href="{{ current_file }}" data-bs-toggle="modal" data-bs-target="#imageModal">
                        <img class="d-block mx-lg-auto img-fluid shadow-lg rounded mt-4" src="{{ current_file }}" alt="Latest photo" />
                    </a>
                    {% if current_data %}
                        <div class="opacity-75 w-100 text-center my-3">
                            {{ formatDateTimeShort(current_data.modified_at) }} &bull; {{ formatDateDiff(current_data.modified_at) }}
                        </div>
                    {% endif %}
                </div>
                <div class="col-lg-6 text-center">
                    <h1 class="display-5 fw-bold lh-1 mb-5">InfinitySky Today</h1>

                    <div class="row">
                        {% if sun %}
                            {% if sun.nautical_twilight_begin %}
                                <div class="col-6 mb-4">
                                    <div class="h4">{{ sun.nautical_twilight_begin.isoformat('HH:mm') }}</div>
                                    <div class="h6">Nautical Twilight</div>
                                </div>
                            {% endif %}
                            {% if sun.civil_twilight_begin %}
                                <div class="col-6 mb-4">
                                    <div class="h4">{{ sun.civil_twilight_begin.isoformat('HH:mm') }}</div>
                                    <div class="h6">Civil Twilight</div>
                                </div>
                            {% endif %}

                            {% if sun.sunrise %}
                                <div class="col-4 mb-4">
                                    <div class="h4">{{ sun.sunrise.isoformat('HH:mm') }}</div>
                                    <div class="h6">Sunrise</div>
                                </div>
                            {% endif %}
                            {% if sun.transit %}
                                <div class="col-4 mb-4">
                                    <div class="h4">{{ sun.transit.isoformat('HH:mm') }}</div>
                                    <div class="h6">Transit</div>
                                </div>
                            {% endif %}
                            {% if sun.sunset %}
                                <div class="col-4 mb-4">
                                    <div class="h4">{{ sun.sunset.isoformat('HH:mm') }}</div>
                                    <div class="h6">Sunset</div>
                                </div>
                            {% endif %}

                            {% if sun.civil_twilight_end %}
                                <div class="col-6 mb-4">
                                    <div class="h4">{{ sun.civil_twilight_end.isoformat('HH:mm') }}</div>
                                    <div class="h6">Civil Twilight</div>
                                </div>
                            {% endif %}
                            {% if sun.nautical_twilight_end %}
                                <div class="col-6 mb-4">
                                    <div class="h4">{{ sun.nautical_twilight_end.isoformat('HH:mm') }}</div>
                                    <div class="h6">Nautical Twilight</div>
                                </div>
                            {% endif %}
                        {% endif %}

                        <div class="col-6 offset-3 opacity-75 mb-3">
                            {% if getConfig('camera:enabled') %}
                                <div class="alert alert-success">✅ Camera is active</div>
                            {% else %}
                                <div class="alert alert-warning">🛑 Camera is disabled!</div>
                            {% endif %}
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <h2 class="h1 fw-bold text-center mb-5">The last 24 hours</h2>
        {% for hour in hours %}
            <div class="row my-3">
                <div class="col-12 col-lg-2 mb-3 d-flex justify-content-center align-items-center">
                    <div class="display-3">{{ hour.hour }}</div>
                </div>

                {% for m in minutes %}
                <div class="col-6 col-md-3 col-lg-2 mb-3 text-center">
                    {% if hour['min_' ~ m] %}
                        <div class="card">
                            <a href="{{ hour['min_' ~ m ~ '_full'] }}" class="gallery"
                               data-bs-toggle="modal" data-bs-target="#imageModal">
                                <img src="{{ hour['min_' ~ m] }}" class="card-img-top" alt="Photo"
                                     loading="lazy" />
                            </a>
                            <div class="card-body text-center p-2">
                                {{ hour.hour }}:{{ m }}
                            </div>
                        </div>
                    {% endif %}
                </div>
                {% endfor %}

                <div class="col-12 col-lg-2 mb-3 text-center d-flex justify-content-center align-items-center">
                    <a href="#collapse-hour-{{ hour.hour }}" data-bs-toggle="collapse"
                       class="btn btn-secondary d-flex justify-content-center align-items-center w-100 h-100">
                        Details
                    </a>
                </div>

                <div class="col-12 mb-5 collapse" id="collapse-hour-{{ hour.hour }}">
                    <div class="row">
                        {% for m in all_minutes %}
                            <div class="col-6 col-md-3 col-lg-2 col-xl-1">
                                {% if hour['min_' ~ m] %}
                                    <div class="card">
                                        <a href="{{ hour['min_' ~ m ~ '_full'] }}"
                                           data-bs-toggle="modal" data-bs-target="#imageModal">
                                            <img src="{{ hour['min_' ~ m] }}" class="card-img-top" alt="Photo"
                                                 loading="lazy" />
                                        </a>
                                        <div class="card-body text-center p-2">
                                            {{ hour.hour }}:{{ m }}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
